body {
    font-family: sans-serif;
    background-color: lightgrey;
}

.center {
    text-align: center;
    float:left;
    width:300px;
    height:450px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    
    padding-right:550px;
    padding-top:70px;
     width:300px;
     height:450px;
    
}

.container{
                color:#333300;
                max-width:800px;
                font-family:san-serif;
                padding-top:60px;
                padding-left:20px;
                padding-right:20px;
            }

.kk{
    padding-right:400px;
    padding-left:200px;
    font-size:30px;
}
.header{
    width:1350px;
    height:100px;
    background-color:#4dffdb;

}